.app{
     max-width: 800px;
     min-height: 600px;
     backdrop-filter: blur(2px);
     box-shadow: 0 0 100px rgba(0, 200, 0, 0.5);
     margin: auto;
     margin-top: 5rem;
     border-radius: 8px;
}

.icon{
     display: none;
}



.task p{
     font-size: 20px;
     color: rgba(59, 255, 59, 0.897);
     margin-right: 1rem;
     
}

.add-input{
     width: 500px;
     height: 32px;
     border-radius: 5px;
     border: 0;
}

.flex>h1{
     color: rgba(59, 255, 59, 0.897);
     margin: 1rem;
}





.flex{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.dont-show{
     opacity: 0;
}

.show{
     opacity: 1;
     transition: 1s;
}


.task{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 800px;
     margin: 0 1rem;
     padding: 1rem;
     border-bottom: 2px solid rgba(0, 224, 0, 0.15);
     height: 80px;
     position: relative;
}


@media(max-width: 800px){
     .task{
          width: 600px;   
     }
}

@media(max-width: 650px){
     .app{
          border-radius: 19px;
          margin: 5rem 1rem;
     }

     .icon{
          display: block;
     }
     .task-btn{
          display: none;
     }
     .task{
          width: 350px;   
     }

     .task p{
          font-size: 16px;
     }

     .flex>h1{
          font-size: 20px;
     }

     .add-input{
          width: 275px;
          
     }
     .edit-btns{
          display: none;
     }
     .edit-flex{
        
          width: 100%!important;
         
     }
}

.task .overflow-div{

     overflow: hidden!important;
     margin-right: 1rem;
}

.task p{
     white-space: nowrap!important;
}


.completed-task{
     color: rgba(59, 255, 59, 0.4)!important;
     transition: 0.5s
     
}

/* @keyframes completed-task{
     0%   { width : 0; }
     100% { width: 100%; }
   }
   .completed-task {
     position: relative;
   }
   .completed-task::after {
     content: ' ';
     position: absolute;
     top: 50%;
     left: 0;
     width: 100%;
     height: 2px;
     background: rgba(59, 255, 59, 0.8);
     animation-name: completed-task;
     animation-duration: 0.25s;
     animation-timing-function: linear;
     animation-iteration-count: 1;
     animation-fill-mode: forwards; 
     z-index: -1;
   } */

   .logo{
     height: 80px;
     position: absolute;
     top: 0;
     left: 25%;
     transition: 0.5s ease-in all;
   }



.icon{
     height: 30px;
     cursor: pointer;
}

.flex-row{
     display: flex;
     gap: 10px;
     align-items: center;
}



hr.hr{
     border: 1px solid rgba(0, 224, 0, 0.15);
     width: 100%;
}

.edit-input{
     width: 100%;
     height: 32px;
     border-radius: 5px;
}

.edit-flex{
     margin: 0 auto;
     display: flex;
     width: 75%;
     justify-content: space-between;
     align-items: center;
     gap: 2rem;
}

.welcome-err{
     text-align: center;
}

.welcome-err2{
     text-align: center;
     padding-top: 3rem;
}

.welcome-err2 span{
     text-decoration: underline;
     text-underline-offset: 12px;
}

.welcome-err2 span:hover{
     text-decoration: none;
}